
.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    border: 0;
    padding: 8px;
    background-color: rgb(255, 0, 230);
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}

a {
    padding: 8px;
    text-decoration: none;
}

.section1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    background-color: rgb(255, 0, 230);
}

.opening {
    padding: 8px;
}

button {
    background-color: rgb(255, 0, 230);
    color: white;
    font-size: 50px;
    border-color: white;
    border-radius: 8px;
}

h3 {
    display: flex;
    justify-content: center;
}

.section2 {
    background-color: rgb(255, 186, 248);
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 25px;
}

.busts {
    display: flex;
    gap: 8px;
    align-items: center;
}

.section3 {
    display: flex;
    padding: 8px;
    justify-content: center;
    padding: 20px;
    background-color: rgb(255, 0, 230);
}

.quote {
    justify-content: flex-start;
    font-size: 30px;
    font-weight: 900;
    padding: 8px;
}

.source {
    align-self: flex-end;
    font-size: 20px;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 186, 248);
}

.pink-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 230);
    margin: 8px;
    border-radius: 25px;
    padding: 8px;
    gap: 20px;

}

.text {
    max-width: 300px;
}