* {
background-color: rgb(255, 159, 245);
}
.header {
display: flex;
justify-content: space-between;
margin: 0;
border: 0;
padding: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}

a {
    padding: 8px;
    text-decoration: none;
}

.section1 {
display: flex;
}

.section2 {
display: flex;
}

.section3 {
display: flex;
}

.section4 {
display: flex;
}